Django==5.2.5
daphne==4.2.3
channels
channels-redis
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-storages
boto3
Pillow
python-dotenv
django-environ
dj-database-url
whitenoise
psycopg2-binary
argon2-cffi
